@use '../../../Styles/variables' as *;

.button{
  background-color: var(--background-color,$active-color);
  color: var(--color,$inHold-color);
  cursor: pointer;
  border: thin solid;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  transition: box-shadow 0.2s ease;
  &:hover{
    background-color: var(--color,$primary-color);
    color: var(--background-color,$inHold-color);
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  }
  &:disabled {
    background-color: rgb(206, 203, 203);
    color: rgb(102, 102, 102);
    cursor: not-allowed; 
  }
}
.Primary {   
    --color: rgb(40, 91, 186);
    --background-color: white;
}

.Secondary {  
    --color: red;
    --background-color: white;
}

.Tertiary {   
    --color: green;
    --background-color: white;
}

