@use '../../Styles/variables' as *;

.button{
  background-color: var(--background-color,$textPrimary-color);
  color: var(--color,$enabled-btn);
  cursor: pointer;
  border: thin solid;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
  &:hover{
    background-color: var(--color,$enabled-btn);
    color: var(--background-color,$textPrimary-color);
  }
  &:hover:not(:disabled) { 
    background-color: var(--color, $enabled-btn);
    color: var(--background-color, $textPrimary-color);
  }
  &:disabled {
    background-color: rgb(206, 203, 203);
    color: rgb(102, 102, 102);
    cursor: not-allowed; 
  }
}
.PrimaryButton {
    @extend .button;
    --color: rgb(40, 91, 186);
    --background-color: white;
}

.SecondaryButton {
    @extend .button;
    --color: red;
    --background-color: white;
}

.TertiaryButton {
    @extend .button;
    --color: green;
    --background-color: white;
}
