@use "../styles/variables" as *;

@mixin flex-center{
  display: flex;
  justify-content: center;
}

@mixin grid-center{
  display: grid;
  place-items: center;
}


@mixin formCommon{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@mixin shiftinput{
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
  background-color: $inHold-color;
  border-radius: 10px;
  width: 100%;
}
@mixin shiftgroup {
    position: relative;
}

@mixin ShiftInputAndLabel {
  position: absolute;
  left: 10px;
  top: -10px;
  font-size: 12px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: opacity 0.2s ease;
}

@mixin PlaceholderFocus{
  opacity: 0;
  transition: opacity 0.2s ease;
}

