$primary-color : #0077b6;  //to be used as background color
$secondary-color : #1971c2; //to be used for text color
$inHold-color : #ebedf0; //to be used for disabled buttons and input background color
$enabled-btn : #00b4d8;
$error-color : #e03131;
$textPrimary-color: #ffff;
$domain-color : #caf0f8;
$active-color : #4dabf7;
