.ErrorMessage{
  text-align: center;
  background-color:  white;
  color: rgb(245, 79, 79);;
  border: none;
  border-radius: 4px;
}

.SuccessMessage{
  background-color: white;
  border: thin solid;
  padding: 0.25rem 1.25rem;
  color: rgb(30, 206, 50);
  border-radius: 4px;
  text-align: center;
  border-radius: 1rem;
}