@use '../../../Styles/variables' as *;


.shiftgroup {
    position: relative;
}
.select{
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
  background-color: $inHold-color;
  border-radius: 10px;
  width: 100%;
}