@use '../../styles/variables' as *;
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  padding: 0.2rem;
  position: sticky;
  top: 0;
  background-color: $primary-color;
}

.logoDiv{
  display: flex;
  align-items: center;
  // background-color: rgb(167, 167, 237);
  background-color: $primary-color;
  width: 40%;
  justify-content: space-between;
  padding: 0.4rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.logoDiv img{
  height: 4rem;
}
.logoDiv h1{
  color: WHITE;
  font-size: 50px;
}

.userDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap:0.5rem
}

.userDiv h3{
  border: none;
  padding: 0.25rem 1.25rem;
  border-radius: 8px;
  color: $secondary-color;
  background-color: $domain-color;
}