@use "../../styles/variables" as *;

.modal{
  display: grid;
  position: fixed;
  inset: 0;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.525);
}
.formContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  position: relative;
}
.formContainer h2{
  background-color: $primary-color;
  text-align: center;
  border-radius: 2px;
  color: white;
}
.floating{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  border-radius: 0px;
}